@model WebBanOto.Models.DONGXE

@{
    ViewBag.Title = "Xoadx";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>XÁC NHẬN THÔNG TIN  CẦN XÓA</h2>

<h3>
    Bạn quyết định xóa dòng xe này?
</h3>

<hr />
<dl class="dl-horizontal">
    <dt>
        Tên dòng xe
    </dt>

    <dd>
        @Html.DisplayFor(model => model.TenDX)
    </dd>

</dl>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="XÓA" class="btn btn-default" /> |
    @Html.ActionLink("QUAY LẠI", "Dongxe")
</div>
}

