
@{
    ViewBag.Title = "XNyeucau";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div>
    <h3 style="text-align: center">Your request has been recorded by us. We will contact you as soon as possible. Thank you!</h3>
    <img src="~/Content/img/thank.png " style="width: 1200px; height: 600px" />
</div>
<p style="float : left; height: 100px">
    @Html.ActionLink("Back to Home", "Index", "CarStore")
</p>

