<style type="text/css">
    .list-group a {
        display: block;
        background-repeat: no-repeat;
        height: 29px;
        padding-left: 50px;
        padding-top: 7px;
        text-decoration: none;
        
        color: Highlight;
    }

        .list-group a:hover {
            font-weight: bold;
        }
</style>
@model IEnumerable<WebBanOto.Models.DONGXE>
<p class="lead"> VEHICLES </p>
<div class="list-group">
    @foreach (var item in Model)
    {
        <a href="@Url.Action("SPTheoDX", "CarStore", new { id = item.MaDX})" 
           class="list-group-item">
            @item.TenDX
        </a>
    }
</div>